.slider {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0em;
  display: flex;
  align-items: center;
  position: relative;
}

.slide {
  // border: 1px solid blue;
  // min-width: 100%;
  // height: 80vh;
  transition: transform 1500ms ease-in-out;
}

%btn-styles {
  position: absolute;
  height: 80vh;
  width: 5vw;
  // background-color: orange;s
}

#goLeft {
  top: 50%;
  left: 0;
  @extend %btn-styles;
  transform: translateY(-50%);
  // background-color: red
}

#goRight {
left:100vw;
transform: translate(-100%, 0%);
@extend %btn-styles
}
